

<div class="container">


    <form asp-action="Update" asp-controller="Teacher" method="post">
        <div class="mb-3">
            <label for="teacherId" class="form-label">Teacher Id</label>
            <input type="text" class="form-control" name="teacherId">
        </div>
        <div class="mb-3">
            <label for="teacherName" class="form-label">Teacher Name</label>
            <input type="text" class="form-control" name="teacherName">
        </div>
        <div class="mb-3">
            <label for="teacherSurname" class="form-label">Teacher Surname</label>
            <input type="text" class="form-control" name="teacherSurname">
        </div>
        <button type="submit" class="btn btn-primary">UPDATE TEACHER</button>
    </form>




</div>